<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <h3>{{ query }}
      ({{ posts|length }})</h3>
    {% if posts %}
      <table>
        <tr>
          <th>제목</th>
          <th>작성자</th>
          <th>작성시간</th>
        </tr>
        {% for post in posts %}
          <tr>
            <td>
              <a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a>
            </td>
            <td>익명</td>
            <td>{{ post.created_at }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </body>

</html>