{% load base64_to_img %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    <h2>{{ post.title }}</h2>
    <p>{{ post.created_at }}</p>
    <p>{{ post.content|base64_to_image }}</p>
    <a href="{% url 'blog:edit' pk=post.pk %}">
      <button>수정</button>
    </a>
    <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="삭제">
    </form>

    <h3>태그</h3>
    <div>
      {% for tag in tags %}
        {{ tag.content }}
      {% endfor %}
    </div>

    <h3>댓글</h3>
    <div>
      <form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.content }}
        <input type="submit" value="등록">
      </form>
      {% for comment in comments %}
        <p>{{ comment.content }}
          -
          {{ comment.created_at }}</p>
      {% endfor %}
    </div>
  </body>

</html>