<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  </head>

  <body>
    <form action="{% url 'blog:write' %}" method="post">
      {% csrf_token %}
      <div>
        <!-- <label for="{{ form.title.id_for_label }}">Title:</label> -->
        {{ form.title }}
      </div>
      <div>
        <!-- <label for="{{ form.content.id_for_label }}">Content:</label> -->
        <div id="content"></div>
      </div>
      <input type="hidden" name="{{ form.content.html_name }}" id="{{ form.content.auto_id }}" value="{{ form.content.value }}">
      <div>
        {% comment %} {{ tagForm.content }} {% endcomment %}
        <input type="text" class="tagInput">
        <button type="button" class="addTagBtn">추가</button>
        <ul id="tagList">
          {% for tag in tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
      <input type="hidden" name="tags" id="tagsInput" value="">
      <input type="submit" value="완료">
    </form>
    <script>
      const Editor = toastui.Editor;
      const editor = new Editor({
        el: document.querySelector('#content'),
        height: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical',
        events: {
          change: function () {
            const value = editor.getHTML();
            document
              .querySelector("#{{ form.content.auto_id }}")
              .value = value;
          }
        }
      });

      const tagInput = document.querySelector('.tagInput');
      const addTagBtn = document.querySelector('.addTagBtn');
      const tagList = document.querySelector('#tagList');
      const tagsInput = document.querySelector('#tagsInput');
      const tags = [];

      tagInput.addEventListener('keydown', enterHandler)
      addTagBtn.addEventListener('click', addTag);

      function enterHandler(event) {
        if (event.keyCode === 13) {
          event.preventDefault();
          addTag()
        }
      }

      function addTag() {
        const tag = tagInput
          .value
          .trim();

        if (tag) {
          tags.push(tag);

          const listItem = document.createElement('li');
          const deleteBtn = document.createElement('button');
          deleteBtn.textContent = 'x';

          deleteBtn.addEventListener('click', () => {
            const index = tags.indexOf(tag);
            if (index > -1) {
              tags.splice(index, 1);
            }
            tagList.removeChild(listItem);
            updateTagsInputValue();
          });

          listItem.textContent = tag;
          listItem.appendChild(deleteBtn);
          tagList.appendChild(listItem);
          tagInput.value = '';

          updateTagsInputValue();
        }
      }

      function updateTagsInputValue() {
        tagsInput.value = tags.join(',');
      }
      // editor.getHTML()
      // editor.getMarkdown()
    </script>
  </body>

</html>