{% comment %} {% block content %} {% endcomment %}
  <!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <style>
        table,
        td,
        th {
          border: 1px solid black;
        }
      </style>
    </head>

    <body>
      <table>
        <tr>
          <th>제목</th>
          <th>작성자</th>
          <th>작성시간</th>
        </tr>
        {% if posts %}
          {% for post in posts %}
            {% if not post.is_deleted %}
              <tr>
                <td>
                  <a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a>
                </td>
                <td>{{ post.writer }}</td>
                <td>{{ post.created_at }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        {% endif %}
      </table>
      <form action="/blog/search/" method="get">
        <input type="text" name="name" placeholder="검색어를 입력해주세요.">
        <input type="submit" value="검색">
      </form>
      <a href="{% url 'blog:write' %}"><button>글쓰기</button></a>
      <div>
        <ul>
          {% if tags %}
            {% for tag in tags %}
              <a href="" class='tagSearch'><li>{{ tag }}</li></a>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
      <script>
        $tags= document.querySelectorAll('.tagSearch');
        $tags.forEach((tag) => {
          tag.addEventListener('click', (event) => tagSearch(event, tag));
        });

        function tagSearch(event, tag) {
          event.preventDefault()
          const url = "{% url 'blog:tag-search' %}?name=" + tag.textContent
          window.location.href = url;
        }
      </script>
    </body>

  </html>
{% comment %} {% endblock %} {% endcomment %}